.cal{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.cen{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 60%;
    height: 40em;
    margin-top: 50px;
    margin-bottom:50px ;
    
   
}
.input1{
    width: 710px;
}
.con1{
    
    width: 28%;
}
.mt-3.Buttom{
    margin: 10px;
}
/* En tu archivo CSS */
.addMargin {
    margin-right: 10px;
    border-radius: 90%;
  }
  